@font-face{
	font-family: Roboto;
	src: url("../fonts/Roboto-Regular.ttf");
}

body{
	background-color: #FFF;
}

#logo{
	width: 70%;
	margin: 0 auto;
	z-index: 1;
}


  @media (min-width: 0px) and (max-width:768px) {
    #logo{
      width: 100%;
    }
  }

  @media (min-width: 769px) and (max-width:991px) {
    #logo{
      width: 100%;
    }
  }

.menu {
  position: relative;
  background-color: #E6E6E6;
  border-radius: 0.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  box-shadow: 2px 2px 11px #999;
  z-index: 2;
  position: relative; 
}

.menu a {
	font-weight: bold;
	font-size: 1.1em;
	margin-left: 1.2em; 
}

.navbar li a {
  font-family: Roboto, Sans-Serif;
  color: #000 !important; 
  font-size: 1em;
}

.navbar a:hover {
  border-top: solid #045FB4 3px;
  margin-top: -0.2em;
  color: #045FB4 !important; 
}

#navegacion {
  border-radius: 9px 9px 9px 9px;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border: 0px solid #000000;
  margin-top: -1.5em;
  height: 6em;
  background-color: #045FB4;
  -webkit-box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  position: relative;
  z-index: 1;
  color: #FFF; 
}


  #navegacion .navDerecha {
    font-size: 12px;
    text-align: right;
    margin-right: -1em; }
  #navegacion .navIzquierda {
    font-size: 12px;
    margin-left: 0.1em;
    text-align: left; }
  #navegacion span {
    padding: 1em;
    font-weight: bolder; 
    cursor: default;
  }
  .navDerecha img{  
    width: 7em;
  }

  @media (min-width: 992px) {
    .navDerecha img{
      margin-top: -1em;
    }
  }

  .barra {
	  margin-top: 2em;
	  position: relative; 
  }

.contenedorPrincipal{
  z-index: 1;
  margin-left: -1%;
  margin-right: 1%;
  background-color: #F2F2F2;
  margin-top: -1em;
  -webkit-box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
}

#titulo_cont{
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 1%, rgba(242,242,242,1) 1%, rgba(194,194,194,1) 1%, rgba(242,242,242,1) 100%);
}

.menuLateral_acceso, .menuLateral_ultimasNoticias, .menuLateral_docente{
  background-color: #F2F2F2;
  margin-top: -1em;
  z-index: 1;
  -webkit-box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  box-shadow: -4px 6px 8px -1px rgba(0,0,0,0.75);
  cursor: default;
}


  /** Dispositivos móviles **/
  @media (min-width: 0px) and (max-width:992px) {
    .menuLateral_acceso{
      margin-top: 1em;
      margin-left: -0.5em;
    }

    .menuLateral_ultimasNoticias, .menuLateral_docente{
      margin-left: -.5em;
    }
  }


 .menuLateral_ultimasNoticias, .menuLateral_docente{
    margin-top: 1em;
    padding-bottom: 1em;
 }

.menuLateral_acceso div{
  margin-left: 35%;
  margin-right: 30%;
  padding-bottom: 0.8em;
}

.menuLateral_acceso img{
    width: 90%;
}

.menuLateral_docente p{
  font-size: 12.5px;
  text-align: justify;
}

.menuLateral_docente i{
  font-size: 4em;
  color: #045FB4;
}

.menuLateral_acceso h5, .menuLateral_ultimasNoticias h5, .menuLateral_docente h5{
  padding-top: 2%;
  font-weight: bolder;
  font-size: 15px;
}

#contenedorAcceso{
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,88,171,1) 0%, rgba(119,164,194,1) 100%);
  min-height: 600px;
  position: absolute;
}

#celdaMensajes div {
  border-bottom: 1px solid #E6E6E6; 
}

.menuLateral_ultimasNoticias a {
  font-size: 14px; 
  text-decoration: none;
}

.menuLateral_ultimasNoticias span {
  font-size: 14px;
  float: right; 
}

#barraSup{
  width: 100%;
  background-color: #FFF;
}

#barraSup #accesoPlat{
  width: 15%;
  padding: 0.2em;
}

 /** Dispositivos como portátiles y ordenadores **/
  @media (min-width: 991px) {
    #logoAcceso{
      padding: 0.5em;
      margin-bottom: -1em;
      width: 30%;
    }
    .login{
      margin: auto;
      width: 35%;
      color: #000;
    }
  }

  /** Dispositivos tablets **/
    @media (min-width: 769px) and (max-width:991px) {
    #logoAcceso{
      padding: 0.5em;
      width: 40%;
      margin-bottom: -1em;
    }
    .login{
      margin: auto;
      width: 60%;
      color: #000;
    }

    #botonesAcceso{
      margin-top: 10%;
    }
  }


  /** Dispositivos móviles **/
  @media (min-width: 0px) and (max-width:768px) {
    .contenedorPrincipal, .menuLateral_docente, .menuLateral_acceso, .menuLateral_ultimasNoticias{
      margin-left: 0;
      margin-right: 0;
    }


    #barraSup #accesoPlat{
      width: 30%;
      padding: 0.1em;
    }
    #logoAcceso{
      padding: 0.5em;
      margin-bottom: -1em;
      width: 60%;
    }
    .login{
      margin: auto;
      width: 100%;
      color: #000;
    }

    #botonesAcceso{
      margin-top: 10%;
    }
  }

  .contenedorError{
    margin: 1em;
  }

  #atrasError{
    margin: 1em;
  }

  #atrasError a{
    color: #FFF;
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
  }

  #atrasError a:hover{
    color: #045FB4;
  }

  /** Dispositivos móviles **/
  @media (min-width: 0px) and (max-width:768px) {
    .contenedorError{
      margin-top: 7em;
    }

    #atrasError{
      margin-top: 3em;
    }
  }

  #imgSuperior_cont{
    padding: 2%;
  }

  #imgSuperior_cont img{
    width: 75%;
  }

  #titulo_cont h1{
    padding: 2%;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    cursor: default;
    margin-top: 1em;
  }

  #contenido_cont{
    margin: 5%;
  }

  .contenido_cont_academia{
    margin: 3em;
    cursor: default;
  }
  .destacar_contenido{
    color: orange;
  }

   /** Dispositivos móviles **/
  @media (min-width: 0px) and (max-width:768px) {
    #titulo_cont h1{
      font-size: 18px;
      margin-top: 2em;
    }

    #contenido_cont{
      margin: 0;
    }

    .contenido_cont_academia h3{
      font-size: 12px;
    }

    .contenido_cont_academia{
      font-size: 12px;
    }

  }

  #pie{
    cursor: default;
    padding: 1em;
    color: #FFF;
    background-color: #045FB4;
    border-top: 1em solid #033766;
    margin-top: 1.5em;
  }

  #pie i span{
    margin-top: 0.5em;
    font-size: 14px;
    color: #FFF;
  }

  #pie i{
    margin: 0.5em;
  }

  #pie h4{
    margin-bottom: 0.8em;
    color: orange;
  }

  .redesSociales a{
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #dchosReservados{
    margin-top: 2.5em;
    font-size: 12px;
  }

  @media (min-width: 0px) and (max-width:991px) {
    #pie h4{
      margin-bottom: -0.8em;  
      padding: 1em;
    }
  }

  /***********************************************************/

  .contenido_cont_academia img{
    margin-bottom: 1em;
    width: 25%;
    border: 1px solid #000;
  }

  .contenido_cont_academia button{
    margin: 1em;
    margin-bottom: -0.8em;
  }

  .cajaInfo{
    margin: 1em;
  }

  .infoPersonal{
    text-align: justify;
    padding: 1em;
  }

  .infoPersonal span{
    font-style: italic;
  }

  /************************************************************/

 #tabla_precios {
    display: table;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.contenidos {
    display: table-row;
}

.columna1, .columna2, .columna3 {
    display: table-cell;
    border: none;
    vertical-align: middle;
    padding: 10px;
    font-weight: bolder;
}

.titulo_tabla_precios{
  background-color: #045FB4;
  font-weight: bolder;
  color: #FFF;
  border: 1px solid #F2F2F2;
}

.contenidos progress[value]{
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin-top: 1em;
}

#info_a1, #info_a2, #info_b1, #info_b2, #info_c1, #info_c2{
  cursor: pointer;
}

.cont_modales{
  cursor: default;
}

.cont_modales h1{
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}

.cont_modales h2{
  font-size: 1em;
  font-weight: bolder;
  margin: 0;
}

.cont_modales p{
  font-size: 0.9em;
  text-align: justify;
}

.colPrecios p, .colPrecios h2{
  padding-left: 5px;
  border-left: 1px solid black;
}

.infoLlamada p, .infoLlamada {
  text-align: center;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    text-align: center;
    float: none !important;
}

/******************* Noticias **********************/
.cont_noticia_principal{
  margin-bottom: 1em;
}

.cont_noticia_principal h2{
  text-align: left;
  font-size: 1.5em;
  font-weight: bolder;
}

.cont_noticia_principal h3{
  text-align: left;
  font-size: 1em;
  color: #045FB4;
}

.cont_noticia_principal img{
  width: 70%;
  border: none;
  padding: 1em;
  margin-bottom: -.2em;
}

.cont_noticia_principal p{
  text-align: justify;
}

.cont_noticia_principal button{
  margin: 0;
}

.cont_noticias_antiguas{
  margin-top: 2.5em;
}

.cont_noticias_antiguas h2{
  text-align: left;
  font-size: 1.2em;
  font-weight: bolder;
}

.cont_noticias_antiguas h3{
  text-align: left;
  font-size: 0.8em;
  color: #045FB4; 
}

.cont_noticias_antiguas img{
  width: 15em;
  height: 9em;
  margin: 1em;
}

.cont_noticias_antiguas p{
  text-align: justify;
  font-size: 0.8em;
}

.cont_noticias_antiguas button{
  margin: 0;
}





