@import "../../../assets/css/sass/colores.scss";

@font-face{
	font-family: Roboto;
	src: url("../../../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face{
	font-family: School;
	src: url("../../../assets/fonts/Old Bookshop HK.ttf");
}

#bg-academy-principal{
    
    #cabeceraPrincipal {
        
        position: fixed;
        width: 100%;
        z-index: 1;
        
        .navbar {
            border-radius: 0;
        }

        .bg-faded {
            background-color: $azulOscuro;
        }

        i.fa.fa-bars {
            color: $blanco;
            border: none;
        }
    
        button.navbar-toggler.hidden-sm-up {
            border: none;
        }

        a.nav-link {
            //padding-top: 1.6em !important;
            margin-top: 0.4em;
            color: $blanco !important;
        }

        li.nav-item {
            padding-left: 1.5em;
        }

        i.fa.fa-home.fa-2x {
            font-size: 2.4em;
        }

        i.fa.fa-id-card-o.fa-2x {
            padding-top: 0.1em;
        }

        i.fa.fa-folder-open-o.fa-2x {
            padding-top: 0.11em;
        }

        i.fa.fa-user-circle.fa-2x {
            margin-left: -0.2em;
            padding-top: 0.05em;
        }

        i.fa.fa-question.fa-2x {
            margin-left: -0.2em;
            padding-top: 0.05em;
        }
        
        i.fa.fa-home.fa-2x:hover,
        i.fa.fa-id-card-o.fa-2x:hover,
        i.fa.fa-folder-open-o.fa-2x:hover,
        i.fa.fa-user-circle.fa-2x:hover,
        i.fa.fa-question.fa-2x:hover,
        i.fa.fa-file-text-o.fa-2x:hover{
            color: cornflowerblue;
        }

        li#conectadoComo.nav-item {
            float: right;
            padding-top: 0.5em;
            cursor: default;
            z-index: 2;
            span.nav-link {
                color: $blanco;
            }
            #quien,
            #desconectar {
                font-weight: bolder;
                color: white;
                text-decoration: none;
            }
            #desconectar {
                font-weight: normal;
            }
        }
                
    }
       
    .panel-principal > h1{
        padding-top: 3.1em;
        font-size: 30px;
        cursor: default;
        font-weight: bolder;
        font-family: Roboto;
    }
    
    
    .panel-opciones{
        
        margin: 1em;
        background-color: $grisClaro;
        
        .row i{
            padding: 0.4em;
            color: $negro;
            font-size: 50px;
        }
        
        p{
            margin-top: -0.5em;
            font-weight: bolder;
            cursor: default;
            text-transform: uppercase;
            font-family: School;
            font-size: 18px;
            color: $negro;
        }
        
        i:hover{
            cursor: pointer;          
        } 
        
        .row{
            margin-left: 20%;
            margin-right: 20%;
        }
    }
    
    footer{
        padding: 1em;
        font-weight: 600;
        span{
            cursor: default;
        }
    }
    

     @media (min-width: 0px) and (max-width:575px) {
        i.fa.fa-home.fa-2x,
        i.fa.fa-id-card-o.fa-2x,
        i.fa.fa-folder-open-o.fa-2x,
        i.fa.fa-user-circle.fa-2x,
        i.fa.fa-question.fa-2x,
        i.fa.fa-file-text-o.fa-2x {
            display: none;
        }
        nav {
            font-weight: bolder;
        }
         
        .text-xs-center.conectadoMobile {
            padding-top: 5em;
        }
                
        .panel-principal > h1{
            padding-top: 2em;
            font-size: 20px;
        }
         
         .panel-opciones .row i{
             font-size: 50px;
         }
         
         .panel-opciones .row div{
             margin-top: 1em;
             margin-bottom: 1em;
         }
         
         footer span{
             font-size: 11px;
         }

    }
    
    @media (min-width: 576px) and (max-width:991px) {
        
        .text-xs-center.conectadoMobile {
            padding-top: 7em;
        }
        
        .panel-principal > h1{
            padding-top: 1em;
            font-size: 30px;
        }        
        
    }
       

}