@import "../../../assets/css/sass/colores.scss";

@font-face{
	font-family: Roboto;
	src: url("../../../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face{
	font-family: School;
	src: url("../../../assets/fonts/Old Bookshop HK.ttf");
}


#bg-academy-principal-alumn, 
#bg-academy-principal-gest, 
#bg-academy-principal-notic,
#bg-academy-principal-gest-new,
#bg-academy-principal-gest-buscar,
#bg-academy-principal-gest-incidencias,
#bg-academy-principal-gest-miperfil{
            
    #cabeceraPrincipal {
        
        position: fixed;
        width: 100%;
        z-index: 1;
        font-family: Roboto;
        
        .navbar {
            border-radius: 0;
        }

        .bg-faded {
            background-color: $azulOscuro;
        }

        i.fa.fa-bars {
            border: none;
        }
    
        button.navbar-toggler.hidden-sm-up {
            border: none;
            outline: none;
            color: $blanco !important;
            background-color: $blanco;
        }
        
        #nav-content{
            ul li a{
               font-size: 0.9em;
            }            
        }

        a.nav-link {
            margin-top: 0.4em;
            color: $blanco !important;
        }

        li.nav-item {
            padding-left: 1.5em;
        }
        
        i.fa:hover{
            color: cornflowerblue;
        }

        li#conectadoComo.nav-item {
            float: right;
            padding-top: 0.5em;
            cursor: default;
            z-index: 2;
            span.nav-link {
                color: $blanco;
            }
            #quien,
            #desconectar {
                font-weight: bolder;
                color: $blanco;
                text-decoration: none;
            }
            #desconectar {
                font-weight: normal;
            }
        }
                
    }
       
    .panel-principal > h1{
        padding-top: 1em;
        font-size: 21px;
        cursor: default;
        font-weight: bolder;
        font-family: Roboto;
    }
    
    .panel-principal > h1 a:hover{
        text-decoration: none;
    }
    
    .panel-principal > img{
        padding-top: 5em;
        width: 50%;
    }
    
    .panel-opciones{
        
        margin: 1em;
        background-color: $grisClaro;
        
        .row i{
            padding: 0.4em;
            color: $negro;
            font-size: 50px;
        }
        
        p{
            margin-top: -0.5em;
            font-weight: bolder;
            cursor: default;
            text-transform: uppercase;
            font-family: School;
            font-size: 14px;
            color: $negro;
            
        }
        
        i:hover{
            cursor: pointer;
            
        } 
        
        .row{
            margin-left: 20%;
            margin-right: 20%;
        }
    }
    
    footer{
        padding: 1em;
        font-weight: 600;
        span{
            cursor: default;
            font-size: 12px;
        }
    }
    
    .btn-select{
        color: cornflowerblue;
    }
    
     @media (min-width: 0px) and (max-width:575px) {
        #cabeceraPrincipal i.fa{
            display: none;
        }
        nav {
            font-weight: bolder;
        }
         
        .text-xs-center.conectadoMobile {
            padding-top: 5em;
            margin-bottom: -3em;
        }
                
        .panel-principal > h1{
            padding-top: 2em;
            font-size: 20px;
        }
         
         .panel-opciones .row i{
             font-size: 50px;
         }
         
         .panel-opciones .row div{
             margin-top: 1em;
             margin-bottom: 1em;
         }
                  
         .panel-principal img{
             width: 80%;
         }

    }
    
      
    @media (min-width: 576px) and (max-width:991px) {
        
        .text-xs-center.conectadoMobile {
            padding-top: 6em;
            margin-bottom: -3em;
        }
        
        .panel-principal > h1{
            padding-top: 1em;
            font-size: 30px;
        }
        
        .panel-principal img{
             width: 80%;
         }
        
    }
        
}

#bg-academy-principal-gest-new,
#bg-academy-principal-gest-buscar,
#bg-academy-principal-gest-incidencias,
#bg-academy-principal-gest-miperfil{
    
    font-family: Roboto;
    
    .panel-opciones{
        
        .resolucion-imagen{
            font-size: 12px;
            font-style: italic;
        }
        
        .imagen-perfil{
                        
            img{
                width: 8em;
                height: 10em;
                border: 1px solid black; 
                border-radius: 100px;
            }   
        }
        
        #img-modificar-gest-perfil{
            padding-bottom: 1.5em;
        }
        
    }
    
    .panel-opciones > h2{
        font-size: 25px;
        padding: 1em 0;
        font-weight: 600;
        cursor: default;
    }
    
    
    @media (min-width: 0px) and (max-width:575px) {
        
        .panel-opciones > h2{
            font-size: 20px;
            padding: 1em 0;
            font-weight: 600;
            cursor: default;
        }
        
    }
    
}

/** Modales **/
#modal-aniadir-profesor, 
#modal-aniadir-alumno,
#modal-aniadir-noticiario,
#modal-aniadir-gestor{
    
    font-family: Roboto;
    cursor: default;
    
    .modal-header, .modal-footer{
        border: none; 
    }
    
    .modal-footer{
        text-align: center;
        .btn{
            margin: .8em;
        }
    }
     
    
    h5{
        font-weight: 700;
        margin-bottom: 1.5em;
        font-size: 20px;
    }
    
    h6{
        font-weight: 100;
        border-bottom: 1px solid $azulOscuro;
        margin-bottom: 2em;
        margin-top: 1.5em;
        color: $azulOscuro;
        text-transform: uppercase;
    }
    
    option{
        padding: .3em 0;
    }
    
    .contenedor-comentarios{
        
        label{
            padding: 0;
        }
        
        textarea{
            margin-left: -.5em;
        }
    }
}

/** Subpaneles de búsqueda, incidencia **/
#subpanel-busqueda-profesor,
#subpanel-busqueda-alumno,
#subpanel-busqueda-noticiario,
#subpanel-busqueda-gestor,
#subpanel-incidencia-profesor,
#subpanel-incidencia-alumno{
    
    h1{
        font-size: 18px;
    }
    
    .menu-busqueda{
        margin-top: 1.5em;
        
        input, select{
            z-index: 0;
        }
        
    }
    
    table{
        margin: 2.5em 0;
        cursor: default;
        font-size: 14px;
        
        thead{
            background-color: $azulOscuro;
            color: $blanco;
            font-weight: 100;
        }
        
        td{
            vertical-align: middle;
        }
        
        .tabla-info{
            font-size: 1.5em;
            padding-left: 1.2em;
        }
        
        .tabla-incidencia-ver{
            padding-left: 2.8em;
            font-size: 1.5em;
            a{
                color: #FAAC58;
            }
            a:hover{
                color: #FF8000;
            }
        }
        
        .tabla-incidencia-resolucion{
            
            padding-left: 3em;
            
            i.fa-thumbs-up{
                color: forestgreen;
            }
            
            i.fa-thumbs-down{
                color: #C94040;
            }
        }
        
    }
    
    .paginacion-busq .page-link{
        border: none;
    }
    
    .paginacion-busq .page-link:hover{
        background-color: $blanco;
    }
    
    .btn-atras{
        font-family: Roboto;
        cursor: default;
        font-size: 12px;
        text-decoration: none;
        font-weight: 100;
        color: $azulOscuro;
        margin-bottom: 1em;
        span{
            font-weight: bolder;
            color: #0275d8;
            text-transform: uppercase;
            font-family: Roboto;
            font-size: 15px;
        }
        span:hover{
            color: #033766;
        }
        i{
            font-size: 15px;
        }
    }
    
    @media (min-width: 0px) and (max-width:575px) {
        table{
            font-size: 11px;
        }   
    }
    
}


